.productListDiv {
    border: solid black 1px;
    border-radius: 7px;
    margin-bottom: 4px;
}
.productListDiv:hover{
    transition-duration: 1.5s;
    box-shadow:grey 4px 4px 3px 3px;
    border: solid green 4px;
    width: 200%;
   
}
.hinta {
    font-family:Arial;
    background-color:lightblue;
    text-align:center;
}
.main {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}
