@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor


@{string isAdmin = HttpContextAccessor.HttpContext.Session.GetString("key");}
@{ if (isAdmin == "admin")
    { <h2>Tervetuloa ylläpitäjän näkymään</h2>

        <h2>Lisää tuote</h2>
        @Html.ActionLink("Lisää tuote", "AddProduct")
        <h2>Katso asiakaspalautteita</h2>
        @Html.ActionLink("Käsittele palautteita", "ShowMessage")

    } } 