@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor


@{string isAdmin = HttpContextAccessor.HttpContext.Session.GetString("key");}
@{ if (isAdmin == "admin")
    { <h2>Tervetuloa ylläpitäjän näkymään</h2>

        <p>Lisää tuote</p>
        @Html.ActionLink("Lisää tuote", "AddProduct")
        <p>Katso asiakaspalautteita</p>
        @Html.ActionLink("Käsittele palautteita", "ShowMessage")

    } } 