@using (Html.BeginForm("AdminLogin", "Login"))
{
    <div>
       
        email <input type="text" name="email" />
        salasana <input type="password" name="password" />

        <button type="submit">Kirjaudu</button>
    </div>
}