@using (Html.BeginForm("UserLogin", "Login"))
{
    <div>

        email <input type="text" name="email" />
        salasana <input type="password" name="password" />

        <button type="submit">Kirjaudu</button>
    </div>
}
Eikö sinulla ole vielä käyttäjätunnusta? Rekisteröidy tästä
@Html.ActionLink("Rekisteröidy", "Rekisteröidy", "User");