@using (Html.BeginForm("UserLogin", "Login"))
{

<div>

    Email <input type="text" name="email" />
    Salasana <input type="password" name="password" />
    @*@Html.ValidationMessage("LogOnError")*@
    <button type="submit">Kirjaudu</button>
</div>
}
Eikö sinulla ole vielä käyttäjätunnusta? Rekisteröidy tästä
<button type="submit">@Html.ActionLink("Rekisteröidy", "Rekisteröidy", "User")</button>